### 1. Retrieve the data, and examine it. ###

In [25]:
import requests

res = requests.get('http://linserv1.cims.nyu.edu:10000/films?_page=1')

data1 = res.json()

#Keys
print(data1[0].keys())

print()
#Values
print(data1[0].values())

dict_keys(['id', 'title', 'original_title', 'original_title_romanised', 'description', 'director', 'producer', 'release_date', 'running_time', 'rt_score', 'people', 'species', 'locations', 'vehicles', 'url'])

dict_values(['2baf70d1-42bb-4437-b551-e5fed5a87abe', 'Castle in the Sky', '天空の城ラピュタ', 'Tenkū no shiro Rapyuta', "The orphan Sheeta inherited a mysterious crystal that links her to the mythical sky-kingdom of Laputa. With the help of resourceful Pazu and a rollicking band of sky pirates, she makes her way to the ruins of the once-great civilization. Sheeta and Pazu must outwit the evil Muska, who plans to use Laputa's science to make himself ruler of the world.", 'Hayao Miyazaki', 'Isao Takahata', '1986', '124', '95', ['https://ghibliapi.herokuapp.com/people/'], ['https://ghibliapi.herokuapp.com/species/af3910a6-429f-4c74-9ad5-dfe1c4aa04f2'], ['https://ghibliapi.herokuapp.com/locations/'], ['https://ghibliapi.herokuapp.com/vehicles/'], 'https://ghibliapi.herokuapp.com/films/2baf70d1-42bb-4437-b551-e5fed5a87abe'])

The goal of the assignment is to create a report showing director's names, the number of Ghibli films that the directors was involved in, and the average rotten tomatoes score of the Studio Ghibli films made by that director. Therefore thee keys of interest would be, 'director', and 'rt_score.' To get the count, we can simply use the value counts function on the director column after loading the information into a data frame.

In [11]:
res2 = requests.get('http://linserv1.cims.nyu.edu:10000/films?_page=2')

data2 = res2.json()

#Keys
print(data2[0].keys())

print()
#Values
print(data2[0].values())

data1 == data2

dict_keys(['id', 'title', 'original_title', 'original_title_romanised', 'description', 'director', 'producer', 'release_date', 'running_time', 'rt_score', 'people', 'species', 'locations', 'vehicles', 'url'])

dict_values(['dc2e6bd1-8156-4886-adff-b39e6043af0c', 'Spirited Away', '千と千尋の神隠し', 'Sen to Chihiro no kamikakushi', 'Spirited Away is an Oscar winning Japanese animated film about a ten year old girl who wanders away from her parents along a path that leads to a world ruled by strange and unusual monster-like animals. Her parents have been changed into pigs along with others inside a bathhouse full of these creatures. Will she ever see the world how it once was?', 'Hayao Miyazaki', 'Toshio Suzuki', '2001', '124', '97', ['https://ghibliapi.herokuapp.com/people/'], ['https://ghibliapi.herokuapp.com/species/af3910a6-429f-4c74-9ad5-dfe1c4aa04f2'], ['https://ghibliapi.herokuapp.com/locations/'], ['https://ghibliapi.herokuapp.com/vehicles/'], 'https://ghibliapi.herokuapp.com/films/dc2e6bd1-8156-4886-adff-b39e6043af0c'])

False

When the url is modified, the information obtained changes. The keys for each movie remain the samee. However, the values change. For example, in the first page the first movie is Castle in the Sky, in the second page the first movie is Spritied Away.

### 2. Load the data into a DataFrame ###

In [77]:
import requests
import pandas as pd

data1 = ['']
directors = []
rt_scores = []

page_num = 1
while data1 != []:
    res = requests.get('http://linserv1.cims.nyu.edu:10000/films?_page='+str(page_num))
    data1 = res.json()
    
    for movie_info in data1:
        directors.append(movie_info["director"])
        rt_scores.append(int(movie_info["rt_score"]))
    
    page_num += 1

df = pd.DataFrame()
df['director'] = directors
df['rt_score'] = rt_scores
df

                director  rt_score
0         Hayao Miyazaki        95
1          Isao Takahata        97
2         Hayao Miyazaki        93
3         Hayao Miyazaki        96
4          Isao Takahata       100
5         Hayao Miyazaki        94
6          Isao Takahata        78
7        Yoshifumi Kondō        91
8         Hayao Miyazaki        92
9          Isao Takahata        75
10        Hayao Miyazaki        97
11       Hiroyuki Morita        89
12        Hayao Miyazaki        87
13         Gorō Miyazaki        41
14        Hayao Miyazaki        92
15  Hiromasa Yonebayashi        95
16         Gorō Miyazaki        83
17        Hayao Miyazaki        89
18         Isao Takahata       100
19  Hiromasa Yonebayashi        92
20  Michaël Dudok de Wit        93

### 3. Report ###

In [78]:
df2 = (df['rt_score'].groupby(df['director']).mean()).to_frame()
df2 = df2.rename(columns={"rt_score": "avg_rt_score"})
df3 = (df['director'].groupby(df['director']).count()).to_frame()
df3 = df3.rename(columns={"director": "director", "director": "count"})
df4 = df2.merge(df3, on = 'director', how = 'left')
df4

                      avg_rt_score  count
director
Gorō Miyazaki            62.000000      2
Hayao Miyazaki           92.777778      9
Hiromasa Yonebayashi     93.500000      2
Hiroyuki Morita          89.000000      1
Isao Takahata            90.000000      5
Michaël Dudok de Wit     93.000000      1
Yoshifumi Kondō          91.000000      1